* {
    box-sizing: border-box;
    margin: 50;
    padding: 50;
  }
   
  .app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 100vh;
  }
   /* .box{
    width: 40%;
    height: 50%;
    border-color: #0a0a0a;
    border-width: 0.5rem;
   } */
  .container {
    width:30%;
    box-shadow: 0px 0px 12px #ccc;
    border-radius: 8px;
    padding: 3rem;
    margin:10% 37%;
    /* padding: 8.8rem 40rem; */
    border-width: 0.1rem;
    border-style: solid;
    border-color: black;
    box-shadow: 10px 10px rgb(202, 228, 238);
    background: linear-gradient(to right bottom, #ffc9e9, #8eecfa);;
  }
   
  input {
    width: 100%;
    font-size: 1.2rem;
    padding: 15px 4px;
    margin: 8px 0;
    border-radius: 8px;
  }
   
  button {
    display:block;
    width: 100%;
    height:1.3cm;
    font-size: 1.2rem;
    margin: 8px 0;
    padding: 15px 0;
    background-color: #0077EE;
    color: #fff;
    border: 1px solid #333;
    border-radius: 8px;
    cursor: pointer;
  }
  /* unvisited link */
   
  .btn-outline {
    background-color: #fff;
    color: #A6BCDA;
  }
   
  .center {
    text-align: center;
    margin: 24px 0;
  }
   
  p {
    margin: 10px 0;
  }
   
  .img-container {
    text-align: center;
  }
   
  .img-container img {
    height: 200px;
  }



 